.analytucsaudit_profile select {
	width:auto;
}

.analytucsaudit_profile label {
	text-align:right;
	width:200px;
	display:inline-block;
	margin-right:10px;
	line-height:50px;
}

.analytucsaudit-buttons form {display:inline;}

.analytucsaudit-buttons {
	clear:both;
	padding-top:10px;
}

.analytucsaudit_checkboxes div {
	width:50%;
	float:left;
}

.analytucsaudit_checkboxes input {
	vertical-align:middle;
}

.analytucsaudit_test {
	padding: 5px 0;
	margin-top:5px;
}

.analytucsaudit_test div {
	padding: 0 5px;
}

.analytucsaudit_test_type {
	float:left;
	width:30%;
	margin-right:5px;
}

.analytucsaudit_tests_header {
	background-color:cyan;
	padding:10px;
	border-bottom:3px solid black;
}

.analytucsaudit_test_description {
	float:left;
	width:30%;
	margin-right:5px;
}

#analytucsaudit_message {
	display:none;
	margin:10px;
	padding:10px;
	border:1px solid cyan;
}

.analytucsaudit_test.failed {
	background-color:red;
}

.analytucsaudit_test.passed {
	background-color:green;
}
